a:focus{outline:none;}
.burst {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -77px;
	width: 33px;
	height: 38px
}
.heart-no {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -242px;
	width: 23px;
	height: 19px
}
.heart-yes {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -223px;
	width: 23px;
	height: 19px
}
.hot {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -194px -254px;
	width: 30px;
	height: 13px
}
.icon-24 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -117px -429px;
	width: 38px;
	height: 37px
}
.icon-ag-cny {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -78px -429px;
	width: 39px;
	height: 39px
}
.icon-ag-hot {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -159px;
	width: 54px;
	height: 58px
}
.icon-ali_pay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -34px;
	width: 96px;
	height: 41px
}
.icon-alipay-right {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -378px;
	width: 51px;
	height: 51px
}
.icon-alipay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -189px -378px;
	width: 46px;
	height: 40px
}
.icon-all-game-hover {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -237px -194px;
	width: 32px;
	height: 32px
}
.icon-all-game {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -426px;
	width: 32px;
	height: 32px
}
.icon-allpay-member {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -160px -114px;
	width: 80px;
	height: 80px
}
.icon-application {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -106px;
	width: 23px;
	height: 26px
}
.icon-ask {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px 0px;
	width: 37px;
	height: 38px
}
.icon-block-dollar {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -299px;
	width: 19px;
	height: 19px
}
.icon-cancle {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -263px;
	width: 33px;
	height: 35px
}
.icon-cancle2 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -318px;
	width: 18px;
	height: 18px
}
.icon-card-member {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -271px -160px;
	width: 80px;
	height: 80px
}
.icon-card {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -155px -429px;
	width: 46px;
	height: 30px
}
.icon-cash-member {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -271px -80px;
	width: 80px;
	height: 80px
}
.icon-cash {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -327px -378px;
	width: 48px;
	height: 30px
}
.icon-close {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -336px;
	width: 18px;
	height: 18px
}
.icon-cny {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -83px -468px;
	width: 27px;
	height: 27px
}
.icon-deposit {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -270px;
	width: 53px;
	height: 53px
}
.icon-dollar {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -425px -378px;
	width: 28px;
	height: 28px
}
.icon-down {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -521px -387px;
	width: 11px;
	height: 6px
}
.icon-download {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -159px;
	width: 31px;
	height: 38px
}
.icon-eye-close {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -354px;
	width: 25px;
	height: 11px
}
.icon-eye-open {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -439px -323px;
	width: 28px;
	height: 17px
}
.icon-file {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px 0px;
	width: 26px;
	height: 28px
}
.icon-flame {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -155px;
	width: 22px;
	height: 25px
}
.icon-flower-hover {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -468px;
	width: 28px;
	height: 33px
}
.icon-flower {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -28px -468px;
	width: 28px;
	height: 33px
}
.icon-game-number1 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -51px -378px;
	width: 46px;
	height: 42px
}
.icon-game-number2 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -423px -109px;
	width: 46px;
	height: 42px
}
.icon-game-number3 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -97px -378px;
	width: 46px;
	height: 42px
}
.icon-game {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -381px -429px;
	width: 32px;
	height: 24px
}
.icon-game_pas {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -56px;
	width: 25px;
	height: 25px
}
.icon-game_peo {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -81px;
	width: 25px;
	height: 25px
}
.icon-global {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -217px;
	width: 53px;
	height: 53px
}
.icon-gold-refresh {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -365px;
	width: 16px;
	height: 16px
}
.icon-green-dollar {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -279px;
	width: 20px;
	height: 20px
}
.icon-h {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -396px;
	width: 15px;
	height: 15px
}
.icon-hot {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -224px -254px;
	width: 30px;
	height: 13px
}
.icon-journal {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -28px;
	width: 24px;
	height: 28px
}
.icon-mail {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -413px -429px;
	width: 28px;
	height: 22px
}
.icon-master_card {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -109px;
	width: 72px;
	height: 50px
}
.icon-member-left {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -56px -468px;
	width: 27px;
	height: 27px
}
.icon-member {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -237px -226px;
	width: 28px;
	height: 28px
}
.icon-mg-cny {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -39px -429px;
	width: 39px;
	height: 39px
}
.icon-mobile {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -115px;
	width: 28px;
	height: 44px
}
.icon-my {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -271px 0px;
	width: 80px;
	height: 80px
}
.icon-mygame-hover {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -230px;
	width: 35px;
	height: 33px
}
.icon-mygame {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -197px;
	width: 35px;
	height: 33px
}
.icon-new-game-hover {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -298px;
	width: 33px;
	height: 32px
}
.icon-new-game {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -330px;
	width: 33px;
	height: 32px
}
.icon-offer-game-hover {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -362px;
	width: 32px;
	height: 32px
}
.icon-offer-game {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -394px;
	width: 32px;
	height: 32px
}
.icon-on {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -308px -273px;
	width: 38px;
	height: 21px
}
.icon-onbg {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -160px -194px;
	width: 77px;
	height: 60px
}
.icon-pass {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -375px -378px;
	width: 50px;
	height: 28px
}
.icon-phone_pay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -75px;
	width: 113px;
	height: 34px
}
.icon-pig {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -405px -159px;
	width: 55px;
	height: 52px
}
.icon-piggy {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -323px -240px;
	width: 28px;
	height: 28px
}
.icon-pointcard_pay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -128px -313px;
	width: 114px;
	height: 23px
}
.icon-pt-cny {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -429px;
	width: 39px;
	height: 39px
}
.icon-pt {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -271px -240px;
	width: 52px;
	height: 30px
}
.icon-purple-right {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -526px -279px;
	width: 5px;
	height: 10px
}
.icon-quick {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -235px -378px;
	width: 46px;
	height: 36px
}
.icon-recommend {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -240px -114px;
	width: 27px;
	height: 36px
}
.icon-refresh {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -132px;
	width: 24px;
	height: 23px
}
.icon-register {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -114px;
	width: 160px;
	height: 159px
}
.icon-report {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -202px;
	width: 23px;
	height: 21px
}
.icon-right-tel {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -240px -150px;
	width: 28px;
	height: 34px
}
.icon-right-vip-tel {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -469px -38px;
	width: 36px;
	height: 39px
}
.icon-serch {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -180px;
	width: 23px;
	height: 22px
}
.icon-small-hot {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -381px;
	width: 15px;
	height: 15px
}
.icon-speaker {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -506px -261px;
	width: 24px;
	height: 18px
}
.icon-tel-eye {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -261px -429px;
	width: 30px;
	height: 30px
}
.icon-tel-game {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -231px -429px;
	width: 30px;
	height: 30px
}
.icon-tel-house {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -201px -429px;
	width: 30px;
	height: 30px
}
.icon-tel-online {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -429px;
	width: 30px;
	height: 30px
}
.icon-tel-point {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -321px -429px;
	width: 30px;
	height: 30px
}
.icon-tel-process {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -291px -429px;
	width: 30px;
	height: 30px
}
.icon-tel {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px 0px;
	width: 118px;
	height: 34px
}
.icon-terminal {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -313px;
	width: 128px;
	height: 32px
}
.icon-top {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -521px -381px;
	width: 11px;
	height: 6px
}
.icon-vip {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -160px -254px;
	width: 34px;
	height: 16px
}
.icon-visa {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -120px -345px;
	width: 83px;
	height: 26px
}
.icon-vx-right {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -404px -270px;
	width: 51px;
	height: 51px
}
.icon-vx_pay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -345px;
	width: 120px;
	height: 33px
}
.icon-wallet-purple {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -281px -378px;
	width: 46px;
	height: 32px
}
.icon-wallet {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -110px -468px;
	width: 28px;
	height: 25px
}
.icon-wepay {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -143px -378px;
	width: 46px;
	height: 40px
}
.icon-west {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px 0px;
	width: 271px;
	height: 114px
}
.icon-withdraw {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -404px -217px;
	width: 53px;
	height: 53px
}
.logo {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: 0px -273px;
	width: 153px;
	height: 40px
}
.slogan {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -153px -273px;
	width: 155px;
	height: 28px
}
.vip-0 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -291px -345px;
	width: 44px;
	height: 20px
}
.vip-1 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -286px -313px;
	width: 44px;
	height: 20px
}
.vip-2 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -242px -313px;
	width: 44px;
	height: 20px
}
.vip-3 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -379px -345px;
	width: 44px;
	height: 20px
}
.vip-4 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -335px -345px;
	width: 44px;
	height: 20px
}
.vip-5 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -247px -345px;
	width: 44px;
	height: 20px
}
.vip-6 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -203px -345px;
	width: 44px;
	height: 20px
}
.vip-7 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -395px -323px;
	width: 44px;
	height: 20px
}
.vip-8 {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/icon.png);
	background-position: -351px -323px;
	width: 44px;
	height: 20px
}
.popmask2 {
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000000;
	z-index: 998;
	opacity: 0.8;
	filter: alpha(opacity=80)
}
.forgetPassword {
	width: 830px;
	height: 350px;
	position: fixed;
	top: 30%;
	z-index: 999;
	background: #FFFFFF;
	-webkit-border-radius: 8px
}
.forgetPassword .icon-cancle {
	position: absolute;
	right: 10px;
	top: 6px;
	cursor: pointer
}
.forgetPassword .forgetPassword-top {
	height: 60px;
	width: 96%;
	border-bottom: 1px solid #ccc;
	margin: 0 auto
}
.forgetPassword .forgetPassword-top div {
	line-height: 60px;
	font-size: 16px;
	color: #9973e6
}
.forgetPassword .forgetPassword-top div span {
	color: #cccccc
}
.forgetPassword .forgetPassword-bottom {
	height: 280px;
	margin: 0 auto;
	width: 400px;
	padding-top: 30px;
	color: #b7b7b7
}
.forgetPassword .forgetPassword-bottom .forgetPassword-info1 {
	margin: 0 auto;
	width: 215px;
	padding-bottom: 25px
}
.forgetPassword .forgetPassword-bottom .forgetPassword-info1 a {
	color: #cca352;
	text-decoration: underline
}
.forgetPassword .forgetPassword-bottom .forgetPassword-info2 {
	margin: 0 auto;
	width: 215px;
	padding-bottom: 25px
}
.forgetPassword .forgetPassword-bottom .inpt-group {
	height: 34px;
	margin-bottom: 9px;
	clear: both;
	position: relative
}
.forgetPassword .forgetPassword-bottom .inpt-group .remid {
	color: #727272;
	float: left;
	line-height: 30px;
	padding-right: 10px;
	text-align: right;
	width: 80px
}
.forgetPassword .forgetPassword-bottom .inpt-group .add {
	color: #7d4ec6;
	font-size: 18px;
	position: absolute;
	top: 5px;
	left: 12px
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt1 {
	outline-color: #9973e6;
	width: 230px;
	height: 34px;
	border: 1px solid #dbdbdb;
	line-height: 32px;
	padding: 0 10px;
	float: left;
	-webkit-border-radius: 3px
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt1::-webkit-input-placeholder {
color:#b7b7b7 !important
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt1:-moz-placeholder {
color:#b7b7b7 !important
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt1::-moz-placeholder {
color:#b7b7b7 !important
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt1:-ms-input-placeholder {
color:#b7b7b7 !important
}
.forgetPassword .forgetPassword-bottom .inpt-group .inpt_code {
	outline-color: #9973e6;
	width: 110px;
	height: 32px;
	border: 1px solid #dbdbdb;
	line-height: 32px;
	padding: 0 10px;
	float: left;
	-webkit-border-radius: 5px
}
.forgetPassword .forgetPassword-bottom .inpt-group .inp_btn {
	width: 110px;
	height: 31px;
	line-height: 31px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background: #9973e6;
	border-radius: 3px;
	margin-left: 10px;
	margin-top: 2px
}
.forgetPassword .forgetPassword-bottom .inpt-group .inp_btn.disabled {
	background: #cccccc
}
.forgetPassword .forgetPassword-bottom .buttons {
	font-weight: bold;
	width: 335px
}
.forgetPassword .forgetPassword-bottom .buttons #change-phone-doCheck {
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 250px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #9973e6;
	float: right
}
.forgetPassword .forgetPassword-bottom .buttons #change-phone-doCheck:hover {
	background: #a78ae3
}
.forgetPassword .forgetPassword-info {
	margin: 0 auto;
	width: 210px;
	padding-top: 30px;
	color: #4f9907;
	padding-bottom: 30px
}
.forgetPassword .forgetPassword-bottom2 {
	width: 640px;
	float: right;
	height: 280px;
	margin: 0 auto;
	color: #b7b7b7
}
.forgetPassword .forgetPassword-bottom2 .inpt-group {
	height: 34px;
	margin-bottom: 22px;
	clear: both;
	position: relative
}
.forgetPassword .forgetPassword-bottom2 .inpt-group .remid {
	color: #727272;
	float: left;
	line-height: 30px;
	padding-right: 10px;
	text-align: right;
	width: 80px
}
.forgetPassword .forgetPassword-bottom2 .inpt-group .after-remid {
	float: left;
	line-height: 32px;
	padding-left: 10px
}
.forgetPassword .forgetPassword-bottom2 .inpt-group .after-remid.red {
	color: #ff0018
}
.forgetPassword .forgetPassword-bottom2 .inpt-group .inpt1 {
	outline-color: #9973e6;
	width: 230px;
	height: 34px;
	border: 1px solid #dbdbdb;
	line-height: 32px;
	padding: 0 10px;
	float: left;
	-webkit-border-radius: 3px
}
.forgetPassword .forgetPassword-bottom2 .inpt-group .inpt1.red {
	border: 1px solid #ff0018
}
.forgetPassword .forgetPassword-bottom2 .buttons {
	font-weight: bold;
	width: 340px
}
.forgetPassword .forgetPassword-bottom2 .buttons #forgetPassword-update {
	font-size: 14px;
	color: #fff;
	text-align: center;
	width: 250px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #9973e6;
	float: right
}
.forgetPassword .forgetPassword-bottom2 .buttons #forgetPassword-update:hover {
	background: #a78ae3
}
.forgetPassword .forgetPassword-bottom3 {
	margin: 0 auto;
	width: 540px;
	text-align: center;
	padding-top: 55px
}
.forgetPassword .forgetPassword-bottom3 .resetOkInfo {
	font-size: 24px;
	color: #51981c
}
.forgetPassword .forgetPassword-bottom3 .resetOkImg {
	background: url(http://192.168.0.140:81/TXWN/user_img/icon-success.png) no-repeat top center;
	width: 87px;
	height: 86px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 30px
}
.top {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 500;
	background: #efefef
}
.top .top-con {
	line-height: 30px;
	width: 1200px;
	height: 30px;
	margin: 0 auto
}
.top .top-con .icn-con-left {
	float: left;
	color: #a5a1a9
}
.top .top-con .icn-con-right {
	float: right;
	width: 405px
}
.top .top-con .icn-con-right a {
	color: #7d7881
}
.top .top-con .icn-con-right .fgp-link {
	color: #ef2d5f
}
.top .top-con .icn-con-right .free_play {
	float: right;
	width: 90px;
	height: 30px;
	background: #e98f38;
	text-align: center;
	margin-left: 15px;
	line-height: 26px
}
.top .top-con .icn-con-right .free_play a {
	color: #FFFFFF;
	font-size: 14px
}
.top .top-con .icn-con-right .login_play {
	float: right;
	width: 90px;
	height: 30px;
	background: #e98f38;
	text-align: center;
	margin-left: 15px;
	line-height: 26px
}
.top .top-con .icn-con-right .login_play a {
	color: #FFFFFF;
	font-size: 14px
}
.hdr {
	width: 100%;
	padding-top: 25px;
	position: relative
}
.hdr .hr {
	border-bottom: 1px solid #eee;
	position: absolute;
	top: 102px;
	height: 1px;
	width: 100%;
	z-index: 1;
	padding-top: 1px
}
.hdr .hdr-con {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	position: relative
}
.hdr .hdr-con .hdr-hld {
	width: 1200px;
	height: 79px;
	margin: 0 auto
}
.hdr .hdr-con .hdr-hld .logo {
	float: left;
	margin-top: 24px
}
.hdr .hdr-con .hdr-hld .bundesliga_logo {
	background: url(http://192.168.0.140:81/TXWN/user_img/bundesligaTop.png) no-repeat;
	width: 196px;
	height: 46px;
	float: left;
	margin-top: 23px;
	margin-left: 30px
}
.hdr .hdr-con .hdr-hld .slogan {
	float: left;
	margin-top: 36px;
	margin-left: 10px
}
.hdr .hdr-con .hdr-hld .hdr-fcn {
	float: right
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt {
	width: 420px;
	height: 30px;
	float: left;
	margin-top: 25px;
	margin-right: 2px;
	position: relative
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt input {
	width: 160px;
	height: 37px;
	border: 0;
	padding: 0;
	background-color: #FFFFFF;
	padding-left: 37px;
	line-height: 30px;
	font-size: 12px;
	color: #333;
	margin-right: 10px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	color: #9973e6
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .index_send_bank {
	width: 105px;
	height: 38px;
	line-height: 37px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background: #9973e6;
	border-radius: 3px;
	margin-left: -3px;
	top: 0;
	position: absolute;
	right: 12px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .index_send_bank.disabled {
	background: #cccccc
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .inpt_code {
	padding: 0 0 0 10px;
	float: left;
	margin: 0 0 0 0;
	width: 187px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .flt-l {
	float: left !important
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .arrow1 {
	position: absolute;
	top: 8px;
	left: 4px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .lgn-inpt .arrow2 {
	position: absolute;
	top: 7px;
	right: 173px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login_btn {
	cursor: pointer;
	width: 113px;
	height: 37px;
	float: left;
	outline: 0;
	margin-top: 25px;
	font-size: 15px;
	color: #fff;
	background-color: #7187de;
	text-align: center;
	line-height: 36px;
	margin-right: 10px;
	-webkit-border-radius: 5px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login_btn:hover {
	background-color: #5d74ce
}
.hdr .hdr-con .hdr-hld .hdr-fcn .free_account_btn {
	cursor: pointer;
	width: 123px;
	height: 37px;
	float: left;
	outline: 0;
	margin-top: 25px;
	font-size: 15px;
	color: #fff;
	background-color: #a671ff;
	text-align: center;
	line-height: 36px;
	-webkit-border-radius: 5px;
	padding-left: 20px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .free_account_btn:hover {
	background-color: #9362e4
}
.hdr .hdr-con .hdr-hld .hdr-fcn .free_account_btn .icon-cny {
	float: left;
	position: absolute;
	margin-top: 7px;
	margin-left: 0px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info {
	width: 468px;
	padding-top: 24px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name {
	float: left;
	border: 1px solid #d7d7f5;
	width: 200px;
	height: 35px;
	-webkit-border-radius: 5px;
	font-size: 16px;
	line-height: 35px;
	padding-left: 10px;
	background-color: #fafafe
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .name {
	float: left
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-0, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-1, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-2, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-3, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-4, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-5, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-6, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-7, .hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .vip-8 {
	float: left;
	color: #5c5ce6;
	font-size: 16px;
	margin: 7px 0 0 10px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .level {
	float: left;
	color: #5c5ce6;
	font-size: 16px;
	margin: 0 0 0 5px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .icon-down {
	margin: 10px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .icon-top {
	margin: 10px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name .down {
	float: right;
	cursor: pointer;
	margin: 5px 0 0 0px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show {
	position: absolute;
	width: 210px;
	height: 65px;
	border: 1px solid #d7d7f5;
	-webkit-border-radius: 5px;
	top: 60px;
	background-color: #ffffff;
	z-index: 101;
	-webkit-box-shadow: 0px 1px 5px rgba(53,51,51,0.39);
	box-shadow: 0px 1px 5px rgba(53,51,51,0.39);
	display: none
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show .balance {
	height: 5px;
	padding: 10px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show .balance .balance-string {
	float: left;
	color: #999999
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show .balance .balance-number {
	float: right
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show .safe-logout {
	width: 75px;
	color: #e54560;
	margin: 0 auto;
	display: block;
	padding-top: 4px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-name-show hr {
	width: 89%;
	border: 1px #ebebf5 solid
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-deposit {
	float: left;
	border: 1px solid #824ed9;
	width: 84px;
	height: 35px;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	color: #824ed9;
	cursor: pointer;
	font-weight: bold
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-deposit:hover {
	background-color: #f2e9ff
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-member {
	float: left;
	border: 1px solid #a671ff;
	width: 123px;
	height: 35px;
	text-align: right;
	line-height: 34px;
	font-size: 16px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	color: #FFFFFF;
	background-color: #a671ff;
	padding-right: 24px;
	cursor: pointer
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-member .icon-member {
	float: left;
	margin-left: 24px;
	margin-top: 6px
}
.hdr .hdr-con .hdr-hld .hdr-fcn .login-info .login-member:hover {
	background-color: #9362e4
}
.hdr .hdr-con .tplnk {
	height: 49px;
	line-height: 49px;
	text-align: center;
	text-decoration: none;
	display: block;
	float: left;
	color: #484848;
	position: relative;
	width: 132px;
	font-size: 14px;
	font-weight: bold
}
.hdr .hdr-con .tplnk.active, .hdr .hdr-con .tplnk:hover {
	color: #e1af7f
}
.hdr .hdr-con .tplnk#nav_2 .icon-down, .hdr .hdr-con .tplnk#nav_3 .icon-down, .hdr .hdr-con .tplnk#nav_6 .icon-down {
	position: absolute;
	top: 21px;
	right: 17px
}
.hdr .hdr-con .live-menu {
	width: 632px;
	height: 183px;
	position: absolute;
	z-index: 101;
	left: -46px;
	top: 115px;
	display: none
}
.hdr .hdr-con .live-menu .icon-small-hot {
	position: absolute;
	top: 25px;
	left: 235px
}
.hdr .hdr-con .live-menu .info {
	position: relative
}
.hdr .hdr-con .live-menu .info .live-agqj {
	position: absolute;
	top: 17px;
	left: 8px;
	width: 190px;
	height: 150px;
	cursor: pointer
}
.hdr .hdr-con .live-menu .info .live-agqj img {
	margin: 0 0 0 15px
}
.hdr .hdr-con .live-menu .info .live-agin {
	position: absolute;
	top: 17px;
	left: 208px;
	height: 150px;
	width: 141px;
	cursor: pointer
}
.hdr .hdr-con .live-menu .info .live-agin img {
	margin: 0 0 0 24px
}
.hdr .hdr-con .live-menu .info .live-tel {
	position: absolute;
	top: 17px;
	height: 150px;
	width: 130px;
	right: 144px;
	cursor: pointer
}
.hdr .hdr-con .live-menu .info .live-tel img {
	margin: 0 0 0 10px
}
.hdr .hdr-con .live-menu .info div:hover {
	background-color: #936cb0
}
.hdr .hdr-con .lobby-menu {
	background: url(http://192.168.0.140:81/TXWN/user_img/lobby-menu.png) no-repeat;
	width: 410px;
	height: 183px;
	position: absolute;
	z-index: 101;
	top: 115px;
	left: 50px;
	display: none;
	text-align: center
}
.hdr .hdr-con .lobby-menu .icon1 {
	position: absolute;
	top: 29px;
	left: 206px
}
.hdr .hdr-con .lobby-menu .icon2 {
	position: absolute;
	top: 127px;
	left: 206px
}
.hdr .hdr-con .lobby-menu .info {
	width: 255px;
	height: 140px;
	padding: 24px 0 0 125px;
	color: #f8f2ff;
	font-size: 16px;
	display: inline-block
}
.hdr .hdr-con .lobby-menu .info .div-top {
	width: 85px;
	float: left;
	height: 49px;
	line-height: 49px;
	text-align: center;
	cursor: pointer
}
.hdr .hdr-con .lobby-menu .info .div-middle {
	width: 85px;
	float: left;
	height: 49px;
	line-height: 49px;
	text-align: center;
	cursor: pointer
}
.hdr .hdr-con .lobby-menu .info .div-bottom {
	float: left;
	width: 85px;
	height: 49px;
	text-align: center;
	line-height: 49px;
	cursor: pointer
}
.hdr .hdr-con .lobby-menu .info div:hover {
	background-color: #936cb0
}
.hdr .hdr-con .mahjong-menu {
	background: url(http://192.168.0.140:81/TXWN/user_img/mahjong.png) no-repeat;
	width: 516px;
	height: 185px;
	position: absolute;
	z-index: 200;
	top: 115px;
	right: 201px;
	display: none
}
.hdr .hdr-con .mahjong-menu .info {
	width: 345px;
	float: left;
	height: 140px;
	padding-top: 30px;
	color: #f8f2ff;
	font-size: 16px
}
.hdr .hdr-con .mahjong-menu .info .div-top {
	width: 74px;
	float: left;
	height: 37px;
	line-height: 36px;
	text-align: center;
	margin-right: 2px;
	cursor: pointer;
	margin-left: 12px
}
.hdr .hdr-con .mahjong-menu .info .div-top:hover {
	background: #936cb0
}
.hdr .hdr-con .mahjong-menu .info .mahjong-1 {
	width: 94px;
	height: 130px
}
.hdr .hdr-con .mahjong-menu .info .mahjong-2 {
	width: 94px;
	height: 130px;
	margin-left: 8px
}
.hdr .hdr-con .mahjong-menu .info .mahjong-3 {
	width: 94px;
	height: 130px
}
.hdr .hdr-con .mahjong-menu .info div:hover {
	background-color: #936cb0
}
.hdr .hdr-con .mahjong-menu .info img {
	margin-top: 10px
}
.header-banner {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #362a3d
}
.header-banner .header-content {
	position: relative;
	width: 1000px;
	margin: 0 auto
}
.header-banner .header-content .pager {
	width: 265px;
	height: 28px;
	float: right;
	z-index: 155;
	position: absolute;
	top: 375px;
	right: -85px
}
.header-banner .header-content .pager .icon-white, .header-banner .header-content .pager .icon-purple {
	display: block;
	float: left;
	width: 31px;
	height: 30px;
	cursor: pointer;
	margin-right: 20px
}
.header-banner .header-content .pager .icon-white div, .header-banner .header-content .pager .icon-purple div {
	background: url(http://192.168.0.140:81/TXWN/user_img/icon-white.png) no-repeat;
	width: 31px;
	height: 1px;
	margin-top: 15px
}
.header-banner .header-content .pager .icon-white.cycle-pager-active div, .header-banner .header-content .pager .icon-purple.cycle-pager-active div {
	background: url(http://192.168.0.140:81/TXWN/user_img/icon-purple.png) no-repeat;
	width: 31px;
	height: 1px;
	margin-top: 15px
}
.header-banner .sldr-con {
	margin: 0 auto;
	padding: 0;
	background-color: #000000;
	overflow: hidden
}
.header-banner .sldr-con div {
	cursor: pointer;
	width: 100%;
	height: 400px
}
.header-banner .sldr-con .center {
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	position: relative
}
.header-banner .sldr-con .GetLuckyPool {
	background-image: url(http://192.168.0.140:81/TXWN/user_img/activity/millionFight/event03.gif);
	height: 76px;
	width: 275px;
	color: #ffffff;
	font-size: 18px;
	margin: 35px 0 5px 70px;
	position: absolute;
	bottom: 55px;
	left: 115px
}
.header-banner .sldr-con .GetLuckyPool span {
	height: 30px;
	width: 275px;
	padding: 35px 0 0 0;
	display: block;
	text-align: center
}
.mobile-banner {
	width: 100%;
	height: 500px
}
.marq {
	width: 100%;
	height: 30px;
	margin: 0 auto;
	background: url(http://192.168.0.140:81/TXWN/user_img/trans-bg.png) repeat;
	position: absolute;
	top: 370px;
	left: 0;
	z-index: 105
}
.marq .marq-con {
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	line-height: 34px;
	color: #ccc;
	position: relative
}
.marq .marq-con .icon-speaker {
	float: left;
	margin-top: 7px
}
.marq .marq-con #open-notice-list span {
	float: left;
	padding-left: 6px
}
.marq .marq-con marquee {
	width: 70%;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	line-height: 26px;
	position: absolute
}
.notice-box {
	width: 930px;
	height: 670px;
	padding: 0;
	background-color: #000;
	position: fixed;
	z-index: 1000;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	position: absolute;
	display: none
}
.notice-box .rules-close {
	background: url(http://192.168.0.140:81/TXWN/user_img/rules-close.png) no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 25px;
	right: 25px;
	cursor: pointer
}
.notice-box .notice-header {
	background-color: #6a4391;
	height: 80px
}
.notice-box .notice-header div {
	font-size: 28px;
	color: #fff7ed;
	width: 145px;
	margin: 0 auto;
	padding: 20px 0 0 0
}
.notice-box .notice-list {
	height: 590px;
	background-color: #ffffff
}
.notice-box .notice-list .notice-row {
	padding: 30px 40px 5px 40px;
	color: #6a4391;
	font-size: 16px;
	line-height: 23px
}
.notice-box .notice-list .line {
	border-bottom: 1px solid #6a4391;
	height: 1px;
	width: 100%;
	padding: 10px 0 10px 0
}
.notice-box .notice-footer {
	height: 80px
}
.notice-box .notice-footer .notice-page {
	margin: 0 auto;
	width: 240px;
	padding-top: 15px;
	line-height: 27px;
	color: #FFF
}
.notice-box .notice-footer .notice-page a {
	border: 1px solid #FFF;
	display: inline-block;
	width: 60px;
	height: 30px;
	padding: 0 0 0 15px;
	margin: 0 5px 0 5px;
	color: #FFF
}
.footer {
	width: 100%
}
.footer .on-menu {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	color: #666666;
	position: absolute;
	bottom: 40px
}
.footer .on-menu a {
	color: #cccccc
}
.footer .footer-down {
	background: #1c1b1f;
	height: 280px
}
.footer .footer-down .down-menu {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background: url(http://192.168.0.140:81/TXWN/user_img/footer.jpg) no-repeat center center;
	height: 254px
}
.footer .footer-down .down-menu .p1 {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	height: 35px;
	opacity: 0;
	position: absolute;
	right: 28%;
	top: 60px;
	width: 43px;
	filter: alpha(opacity=0)
}
.footer .footer-down .down-menu .p2 {
	display: inline-block;
	height: 35px;
	opacity: 0;
	position: absolute;
	left: 17%;
	top: 56px;
	width: 140px;
	filter: alpha(opacity=0)
}
.footer .footer-down .down-menu .p3 {
	background: #fff none repeat scroll 0 0;
	display: inline-block;
	height: 105px;
	opacity: 0;
	position: absolute;
	right: 2%;
	top: 50px;
	width: 310px;
	filter: alpha(opacity=0)
}
.footer .footer-down .down-menu .p4 {
	display: inline-block;
	height: 25px;
	position: absolute;
	right: 36%;
	bottom: -15px;
	width: 330px;
	color: #999999
}
.index-float {
	cursor: pointer;
	position: fixed;
	width: 161px;
	bottom: 360px;
	right: -83px;
	z-index: 150
}
.index-float ._relative {
	position: fixed
}
.index-float ._relative .info {
	padding-top: 5px;
	margin-left: -4px
}
.index-float ._relative .h24 {
	padding-left: 20px;
	padding-top: 12px;
	width: 78px;
	height: 60px;
	background: #9da4d6;
	color: #FFFFFF
}
.index-float ._relative .h24 .info {
	padding-top: 5px;
	margin-left: -4px
}
.index-float ._relative .h24:hover {
	background: #7a6987
}
.index-float ._relative .ask {
	padding-left: 20px;
	padding-top: 12px;
	width: 78px;
	height: 60px;
	background: #9da4d6;
	color: #FFFFFF
}
.index-float ._relative .ask .info {
	padding-top: 5px;
	margin-left: -4px
}
.index-float ._relative .ask:hover, .index-float ._relative .ask.active {
	background: #7a6987
}
.index-float ._relative .askVip {
	padding-left: 20px;
	padding-top: 12px;
	width: 78px;
	height: 60px;
	background: #9da4d6;
	color: #FFFFFF
}
.index-float ._relative .askVip .msg {
	text-align: center;
	font-size: 12px;
	line-height: 18px
}
.index-float ._relative .askVip:hover, .index-float ._relative .askVip.active {
	background: #7a6987
}
.index-float ._relative .notime {
	padding-top: 12px;
	width: 78px;
	height: 60px;
	background: #b4b4b4;
	color: #FFFFFF;
	text-align: center
}
.index-float ._relative .notime .info {
	padding-left: 10px
}
.index-float ._relative .notime .msg {
	text-align: center;
	font-size: 12px;
	line-height: 18px
}
.index-float ._relative .download {
	padding-left: 20px;
	padding-top: 12px;
	width: 78px;
	height: 60px;
	background: #9da4d6;
	color: #FFFFFF
}
.index-float ._relative .download .info {
	padding-top: 5px;
	margin-left: -12px
}
.index-float ._relative .download:hover {
	background: #7a6987
}
.index-float ._relative .ali-payment {
	margin-left: 26px;
	padding-bottom: 20px
}
.index-float ._relative .icon-onbg {
	display: none
}
.icon-vx-right {
	position: fixed;
	bottom: 430px;
	right: 0;
	z-index: 159;
	cursor: pointer
}
.vx-payment {
	width: 41px;
	background: #f3f3f3;
	position: fixed;
	bottom: 432px;
	right: 6px;
	height: 47px;
	z-index: 158
}
.icon-alipay-right {
	position: fixed;
	bottom: 370px;
	right: 0;
	cursor: pointer;
	z-index: 159
}
.ali-payment {
	bottom: 376px;
	width: 47px;
	height: 39px;
	background: #f3f3f3;
	position: fixed;
	right: 0px;
	z-index: 158
}
.masktop {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .3;
	z-index: 300;
	display: none
}
.vx-content {
	width: 200px;
	height: 119px;
	border: 1px solid #6bc12a;
	background-color: #ffffff;
	display: none;
	position: fixed;
	right: 50px;
	bottom: 390px;
	z-index: 158;
	-webkit-border-radius: 10px
}
.vx-content .title {
	color: #6bc12a;
	text-align: center;
	padding-top: 9px;
	font-size: 16px
}
.vx-content .vx-info {
	margin: 0 auto;
	width: 150px;
	padding-top: 15px;
	height: 40px
}
.vx-content .vx-info input {
	width: 150px;
	height: 26px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding-left: 10px
}
.vx-content .vx-click {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	background-color: #6bc12a;
	height: 26px;
	line-height: 24px;
	color: #ffffff;
	-webkit-border-radius: 10px;
	cursor: pointer
}
.vx-content .vx-click:hover {
	background-color: #55a21b
}
.alipay-content {
	width: 200px;
	height: 119px;
	border: 1px solid #48a0fc;
	background-color: #ffffff;
	display: none;
	position: fixed;
	right: 50px;
	bottom: 330px;
	z-index: 158;
	-webkit-border-radius: 10px
}
.alipay-content .title {
	color: #48a0fc;
	text-align: center;
	padding-top: 9px;
	font-size: 16px
}
.alipay-content .alipay-info {
	margin: 0 auto;
	width: 150px;
	padding-top: 15px;
	height: 40px
}
.alipay-content .alipay-info input {
	width: 150px;
	height: 26px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding-left: 10px
}
.alipay-content .alipay-click {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	background-color: #48a0fc;
	height: 26px;
	line-height: 24px;
	color: #ffffff;
	-webkit-border-radius: 10px;
	cursor: pointer
}
.alipay-content .alipay-click:hover {
	background-color: #3b89da
}
.ask-content, .askVip-content {
	width: 220px;
	height: 122px;
	border: 1px solid #936cb0;
	background-color: #ffffff;
	display: none;
	position: fixed;
	right: 78px;
	bottom: 190px;
	z-index: 158;
	-webkit-border-radius: 10px
}
.ask-content .icon-close, .askVip-content .icon-close {
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer
}
.ask-content .title, .askVip-content .title {
	color: #936cb0;
	text-align: center;
	padding-top: 26px;
	font-size: 16px
}
.ask-content .vip-time, .askVip-content .vip-time {
	text-align: center;
	padding: 5px 0 20px 0;
	color: #936cb0
}
.ask-content .ask-info, .askVip-content .ask-info {
	margin: 0 auto;
	width: 180px;
	padding-top: 10px;
	height: 37px
}
.ask-content .ask-info input, .askVip-content .ask-info input {
	width: 170px;
	height: 26px;
	background-color: #fafafa;
	border: 1px solid #ccc;
	padding-left: 10px;
	color: #9973e6
}
.ask-content .recall_submit, .askVip-content .recall_submit {
	width: 80px;
	margin: 0 auto;
	text-align: center;
	background-color: #936cb0;
	height: 26px;
	line-height: 24px;
	color: #ffffff;
	-webkit-border-radius: 10px;
	cursor: pointer
}
.ask-content .chk_con, .askVip-content .chk_con {
	width: 170px;
	margin: 0 auto;
	padding-top: 20px
}
.ask-content .chk_con label, .askVip-content .chk_con label {
	color: #936cb0
}
.askVip-content {
	bottom: 110px;
	height: 160px
}
.index-float-left {
	display: none;
	position: fixed;
	top: 630px;
	left: 0px;
	z-index: 150;
	background: url(http://192.168.0.140:81/TXWN/user_img/activity/millionFight/index_left_flot.gif) no-repeat top center;
	width: 202px;
	height: 149px
}
.index-float-left .float-left-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer
}
.index-float-left .float-left-amount {
	position: absolute;
	top: 50px;
	width: 194px;
	height: 42px;
	color: #ffffff;
	font-size: 26px;
	text-align: center
}
.index-float-left .float-left-prize {
	position: absolute;
	bottom: 0;
	width: 150px;
	height: 47px;
	left: 28px
}
