body .layer-ext-yourskin .layui-layer-title{background:#e94335; color:#fff; border: none;}
body .layui-ext-yourskin .layui-layer-btn .layui-layer-btn0{background:#e94335 !important;}
body .layui-ext-yourskin .layui-layer-btn .layui-layer-btn1{background:#e94335 !important;}
body .layui-ext-yourskin .layui-layer-btn{border-top:1px solid #E9E7E7;background:#e94335;}
body .layui-ext-yourskin .layui-layer-btn a{background:#333;}

